<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>以书会友</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
  <div style="margin: 0 auto; background-color: #666666; height: 100px;">
    <div style="margin: auto;">
      <a id="llogo" href="/index.php/site/main"> <img
        style="margin: 25px 128px;" th:src="@{images/logo1.png}" />
      </a>
    </div>
    <!-- header -->
  </div>


    <p><img th:src="@{images/${book.id}.png}" /></p>
    <p>书名：<span th:text="${book.name}"></span></p>
    <p>作者：<span th:text="${book.author}"></span></p>
    <p>出版社：<span th:text="${book.publisher}"></span></p>
    <div class="bookComments" th:each="bookcomment: ${books.comments}">
        <p><span th:text="${bookcomment.userName}"></span></p>
        <p><span th:text="${bookcomment.releaseDate}"></span></p>
        <p><span th:text="${bookcomment.comment}</p>
        <p><span th:text="${bookcomment.upvoke}"></span>
    </div>
    <div id="appendComment"></div>
    <div>
        <textarea></textarea>
        <button type="submit" id="comment">发表评论</button>
    </div>

  <div id="showBook"></div>
  <script th:src="@{js/jquery.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  <script th:src="@{js/addbook.js}"></script>
  <script th:src="@{js/searchbook.js}"></script>
  <script th:src="@{js/showbook.js}"></script>
  <script th:src="@{js/showtabs.js}"></script>
</body>
</html>