<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link th:href="@{bootstrap-3.3.7-dist/css/bootstrap.min.css}"
  rel="stylesheet" />
<link th:href="@{bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"
  rel="stylesheet" />
</head>
<body>

  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <p>
          <a href="#">Link</a>
        </p>
        <p>
          <a href="#">Link</a>
        </p>
        <p>
          <a href="#">Link</a>
        </p>
      </div>
      <div class="col-sm-9 text-left">
        <h1>Welcome <span th:text="${nuser.name}"> </span></h1>
        <br />
        <h3>Test</h3>
      </div>

    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>
</body>
</html>