<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <p>
          <a href="#">Link</a>
        </p>
        <p>
          <a href="#">Link</a>
        </p>
        <p>
          <a href="#">Link</a>
        </p>
      </div>
      <div class="col-sm-9 text-left">
        <h1 class="welcome">Welcome </h1>
        <br />
        <h3>Test</h3>
          <input type="text" id="name" name="name" />
          <input type="text" id="address" name="address" />
          <!-- /*button type="submit" id="submit">Click</button*/ -->
          <input type="submit" value="Click" class="submit"/>
        <div id="showPerson"></div>
      </div>
      <input type="button" id="submit" />
    </div>
  </div>
  <script type="text/javascript">
  $('.submit').on('click', function() {
	  var nameVal = $('#name').val();
	  var addressVal = $('#address').val();
	  $.post("/q2", {name:nameVal, address:addressVal}, function(data) {
		  $('.welcome').append(data.name);
          $('#showPerson').append(data.age);
	  });
      //location.reload();

	  return false;
  });
  
//   $(document).ready(function() {
// 	    $.ajax({
// 	        url: "/q2",
// 	        data: {name:"小刚", address:"暨南大学"}
// 	    }).then(function(data) {
// 	       $('.welcome').append(data.name);
// 	       $('#showPerson').append(data.age);
	        
// 	    });
// 	});
  </script>
  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>
</body>
</html>