<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>以书会友-用户注册</title>
	<link rel="stylesheet" 
	th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />
</head>
<body>
<div style="margin:0 auto;background-color:#666666;height:100px;">
	<div style="margin:auto;">
		<a id="llogo" href="">
			<img style="margin:25px 128px ;" th:src="@{/photo/logo1.png}" />
		</a>
	</div><!-- header -->
</div>

	<script th:src="@{/jquery.js}"></script>
	<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
</body>
</html>