<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>以书会友-用户登录</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div style="margin:0 auto;background-color:#666666;height:100px;">
	<div style="margin:auto;">
		<a id="llogo" href="">
			<img style="margin:25px 128px ;" th:src="@{images/logo1.png}" />
		</a>
	</div><!-- header -->
</div>
<div style="width: 800px; margin:0 auto;"  class="bookList">
      <table class="table table-bordered table-hover">
        <thead class="">
          <tr class="">
            <th class="text-center">书名</th>
            <th class="text-center">类型</th>
            <th class="text-center">作者</th>
          </tr>
        </thead>
        <tbody class="">
          <tr class="" th:each="book: ${preferBooks}">
            <td th:class="text-center" th:text="${book.bookName}"></td>
            <td th:class="text-center" th:text="${book.bookTypes}"></td>
            <td th:class="text-center" th:text="${book.author}"></td>
          </tr>
        </tbody>
      </table>
    </div>
	<script th:src="@{js/jquery.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>
